<h2>LOGIN</h2>

<form action="/users/login" method="POST">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Ingresar">
</form>

<h3>Usuario nuevo?</h3>
<button onclick="location.href='/views/register'">Registrarse</button>